/*Footer*/
.footer {
    background-color: #1c2331;
    text-align: center;
    padding-bottom: 1%;
    font-size: 90%;
    color: #ffffff;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.name {
    font-size: 320%;
    font-family: "Engagement", cursive;
}

hr {
    background-color: #ffffff;
    width: 80%;
    opacity: 0.5;
}

/*End of Footer*/
