html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: "Raleway", sans-serif;
  position: relative;
}

/*Header/Hero Area*/
.header {
  position: relative;
  width: 100%;
  background: url("../images/hero-img-mobile-screen.png") no-repeat center center fixed;
  background-size: cover;
  background-size: cover;
  background-color: #f8f8ff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 125%;
  overflow: hidden;
  height: 100vh;
}

.header .navbar-brand {
  font-size: 200%;
  font-weight: bold;
}

.header .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}

.header .navbar-nav .nav-item .nav-link:hover {
  font-weight: bold;
  color: red;
}

.hero-text {
  margin-top: 5%;
  color: #ffffff;
}

.my-name {
  font-family: "Anton", sans-serif;
  font-size: 350%;
}

.intro {
  font-size: 180%;
}

.hide {
  display: none;
}

/*End of Header/Hero Area*/
/*Main Content*/
.content {
  text-align: justify;
}

.content:first-letter {
  font-size: 250%;
  font-weight: bold;
  line-height: normal;
}

.content a {
  text-decoration: none;
  color: #000000;
}

.content a:hover {
  text-decoration: none;
}

.active {
  color: #ffffff !important;
  background-color: #1c2331;
}

.active a:hover,
.btn:hover a:hover {
  color: #ffffff;
}

.link:hover {
  font-weight: bold;
}

button:hover {
  color: #ffffff !important;
  background-color: #1c2331;
}

.heading {
  font-size: 175%;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
}

.sub-heading {
  font-size: 120%;
  text-align: center;
  margin-top: 1%;
}

.about-me-content {
  margin-top: 2%;
  text-align: center;
}

.about-me-progress {
  text-align: justify;
}

.latest-work img:hover {
  width: 100%;
  cursor: pointer;
}

.skills {
  display: none;
}

/*End of Main Content*/
/*Footer*/
.footer {
  background-color: #1c2331;
  text-align: center;
  padding-bottom: 1%;
  font-size: 90%;
  color: #ffffff;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.name {
  font-size: 320%;
  font-family: "Engagement", cursive;
}

hr {
  background-color: #ffffff;
  width: 80%;
  opacity: 0.5;
}

/*End of Footer*/
@media screen and (max-width: 767px) {
  /*Header*/
  .header .full-height {
    height: 65vh;
  }
  .header .full-height {
    font-size: 115%;
  }
  .hero-text .my-name {
    font-size: 250%;
  }
  .navbar .navbar-brand {
    font-size: 170%;
  }
  .navbar-nav {
    background-color: rgba(28, 35, 49, 0.7);
  }
  .hero-text {
    margin-top: 18%;
  }
  /*End of Header*/
  /*Main Content (Body)*/
  .latest-work img {
    width: 100%;
  }
  .latest-work img img:hover {
    width: 100% !important;
  }
  .latest-work img .link {
    display: none;
  }
  .container .about-me-heading {
    margin-top: 5%;
    text-align: center;
  }
  .container .about-me-content {
    margin-top: 5%;
  }
  .container .about-me-progress .skills {
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    display: block;
  }
  .container .about-me-progress {
    margin-top: 5%;
  }
  .workTypeDetails {
    display: none;
  }
  .workType {
    font-weight: normal !important;
  }
  /*End of Main Content*/
  /*Footer*/
  .social-media-links img {
    width: 7%;
    margin: 5%;
  }
  .container-fluid .footer {
    position: relative;
  }
  /*End of Footer*/
}
/*# sourceMappingURL=App.css.map */